/*********************/
/*HEADER/*
/*********************/

.header,
.hero-section {
  background-color: #f6eee1;

}

.header {
  /* old */
  /* display: flex;
  justify-content: space-between;
  padding: 0 3.2rem; */
}

.logo a {
  height: 5rem;
  width: 5rem;
  margin-bottom: 8rem;
  color: #003060;
}

.shopping-icon {
  height: 5rem;
  width: 5rem;
  color: #003060;

}


.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #003060;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer;

}

.main-nav-link:hover,
.main-nav-link:active {
  color: #eb5d11;
}


.main-nav-link.cta:link,
.main-nav-link.cta:visited {
  padding: 8px 16px;
  border-radius: 9px;
  font-weight: bold;
  color: #fff;
  background-color: #eb5b13;
}

.main-nav-link.cta:hover,
.main-nav-link.cta:active {
  background-color: #003060;
}


.nav-list {
  list-style: none;
  /* old */

  /* display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; */

  /* new */
  display: flex;
  gap: 2rem;
  align-items: center;
}

.main-nav {
  /* new */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8rem;

  /* old */
  /* padding-top: 2rem;
  padding-right: 5rem; */
}

/*********************/
/*HERO SECTION*/
/*********************/

.hero-section {
  display: flex;
  justify-content: space-between;
  /* old */
  /* gap: 80rem;
  height: auto; */

  /* new */
  align-items: center;
  padding: 6rem 8rem;
  height: 40rem;

}


.hero-text-box {
  max-width: 50rem;
}


.hero-description {
  color: #a47551;
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-bottom: 4rem;
}

.hero-img img {
  width: 30rem;

}

.socials {
  margin-top: 4rem;
  /* new */
  display: flex;
  gap: 1.5rem;


}

.social-logo {
  /* old */
  width: 4rem;
  height: 4rem;
  margin-right: 1.5rem;
  color: #fff;
  background-color: #a47551;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.social-logo svg {
  width: 4rem;
  height: 4rem;
}

.wave {
  width: 100%;
  height: 8rem;
  background: #f6eee1;
  border-bottom-left-radius: 50% 70%;
  border-bottom-right-radius: 50% 70%;
  position: absolute;

}

/*************/
/*SEARCH BAR*/
/*************/

.searchbar {
  display: flex;
  align-items: center;
  /*old */
  justify-content: center;

  /* new */
  margin-top: 4rem;
  border-radius: 1.2rem;
  box-shadow: 0 6px 1px rgba(51, 51, 51, 0.336);
  overflow: hidden;
  width: fit-content;
  margin: 4rem auto;
  max-width: 90%;
  width: 60rem;
  position: relative;
  top: 0;


}

/* new */
.searchbar input {
  flex: 1;
  padding: 1.5rem 1.5rem;
  border: none;
  outline: none;
  font-size: 1.6rem;

}

.searchbar input:first-child {
  border-right: 1px solid #f6eee1;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.searchbar input:nth-child(2) {
  border-left: 1px solid #f6eee1;
}

/* old */
/* .input-type-text {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  
} */

.searchbar input::placeholder {
  color: #eb5b13;
}

.search-bar-btn:link,
.search-bar-btn:visited {
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer;
  padding: 1.7rem 5rem;
  /* border-radius: 0 9px 9px 0; */
  color: #fff;
  background-color: #eb5b13;
  /* new */
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.search-bar-btn:hover,
.search-bar-btn:active {
  background-color: #003060;
}


/****************/
/*BOOK TYPES*/
/****************/
.book-types {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.types-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

}

.types-item {
  list-style: none;
  margin: 0 auto;
}

.types-item a {
  color: #a47551;
  text-decoration: none;
  font-size: 1.8rem;
}

.types-icon {
  background-color: #003060;
  color: #fff;
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

}


.types-icon svg {
  width: 6rem;
  height: 6rem;
}

.types-text {
  text-align: center;
}

/****************/
/*PERCENT*/
/****************/

.percent {
  background-color: #f6eee1;
  display: flex;
  justify-content: space-between;
  gap: 30rem;
  height: auto;
  margin-bottom: 8rem;

}

.percent-text-box {}